*{
    font-family: 'Nunito Sans', sans-serif;
}

.img{
    max-width: 100%;
    max-height: 100vh;
}


.container {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    max-width: 100%;
    max-height: 100vh;
}


.content {
    display: flex;
    flex-direction: column;
    width: 1088px;
    height: 100vh;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bold;



}

/*CHECK IF WORKING LATER*/


.main-container {
    display: flex;
    justify-content: center;
    background: #333 url("../images/Image.jpg") top/cover no-repeat;
    width: 100%;
}

.main-container::before {
    content: "";
    position: absolute;
    background: #000;
    opacity: 0.3;
    width: 100%;
    height: 100vh;
}

.navbar {
    height: 90px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: #fff;

}

.main-container::after {
    content: "";
    background: #000;
    opacity: 0.5;
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
    width: 100%;
    height: 90px;
    position: absolute;
    z-index: 1;
}

header.nav-header {

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    text-transform: uppercase;
    color: red;
    z-index: 2;
}

header > img {
    padding-right: 10px;

}

header.nav-header::after {
    content: "Sharing";
    color: #fff;
    z-index: 2;
}


.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    text-transform: uppercase;
    z-index: 2;
}


a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
    padding: 0 40px;
    height: 100%;
}

a:hover {

    background: rgba(255, 255, 255, 0.2);
}


.main-content-container {
    margin: calc(244px - 90px) auto;
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-self: flex-end;
    align-self: flex-end;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #fff;
    z-index: 1;
}

h1 {
    font-weight: 900;
    font-size: 90px;
    text-transform: uppercase;
    text-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);

    padding: 34px 0;
}

p {
    font-size: 16px;
    padding: 10px 0;
}

.buttons {
    display: flex;
    justify-content: center;


}

button {
    width: 218px;
    height: 68px;

    box-shadow: 0 3px 6px rgba(255, 0, 0, 0.3);
    border: none;
    border-radius: 40px;
    text-transform: uppercase;

}

.share {
    color: #fff;
    background: #FF0000 0 0;
    z-index: 1;
    margin: 40px calc(25px / 2);

}

.features {
    background: #fff 0 0;
    color: #ff0000;
    z-index: 1;
    margin: 40px calc(25px / 2);


}

.section-icon {
    position: absolute;
    background: red url("../images/Icon Arrow Down.svg") center no-repeat;
    width: 55px;
    height: 55px;
    bottom: -27px;
    border-radius: 50%;
}

.blog-container{
    display: flex;
    justify-content: center;

}
section.blog-content{
    display: flex;
    flex-direction: column;

    justify-content: center;
   max-width: 100%;
    height: 100vh;
}

.blog-header {
    text-transform: uppercase;
    font-size: 35px;
    padding: 10px 0;
    color: black;

}

.blog-header::before {
    content: "------";
    letter-spacing: -5px;
    padding: 10px;
    color: red;
    text-shadow: 0 1px 6px rgba(255, 0, 0, 0.3);

}

.blog-header::after {
    content: "------";
    letter-spacing: -5px;
    padding: 10px;
    color: red;
    text-shadow: 0 1px 6px rgba(255, 0, 0, 0.3);
}


.blog-articles{
    display: flex;
    flex-direction: row;
   max-width: 100%;
    max-height: 100vh;
}




.car-fragments img{
    max-width:100%;
    max-height:100%;
    width:352px;
    height:234px;
   padding:calc(25px / 2) 0;
}


article.car-fragments{
    display: flex;
    flex-direction: column;
  justify-content: space-between;
    padding:10px;

}


.car-fragments>h2{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-size: 19px;
    text-transform: uppercase;
    color:#6a6a6a;
    padding:15px 0;
}
.car-fragments>p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 14px;
    color:#6a6a6a;

    padding:15px 0;
}


.car-fragments>button{
    background-color:#FF0000;
    color:white;
    width: 142px;
    height: 40px;
    padding: 2px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    font-size: 14px;
    box-shadow: 0 3px 6px rgba(255, 0, 0, 0.3);
}

.blog-content-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.service-container{
    background: #28272C;
    display: flex;
    justify-content: center;

}

.header-service-container{
    display: flex;
    justify-content: center;
}
.header-service {
    text-transform: uppercase;
    font-size: 35px;
    padding: 10px 0;
    color: white;

}

.header-service::before {
    content: "------";
    letter-spacing: -5px;
    padding: 10px;
    color: red;
    text-shadow: 0 1px 6px rgba(255, 0, 0, 0.3);

}

.header-service::after {
    content: "------";
    letter-spacing: -5px;
    padding: 10px;
    color: #ff0000;
    text-shadow: 0 1px 6px rgba(255, 0, 0, 0.3);
}

.main-service-container{
    display: flex;
    justify-content: center;
    color:white;

}

.service-articles{
    display: flex;
    max-width: 100%;
    max-height: 100vh;


}

.service-article img{
    max-width:100%;
    max-height:100%;
   width:170px;
    height:170px;
    padding:calc(25px / 2) 0;

}

.service-article{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    text-align: center;
    align-items: center;
}

.service-article>button{
    background-color:#FF0000;
    color:white;
    width: 142px;
    height: 40px;
    padding: 2px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    font-size: 14px;
    box-shadow: 0 3px 6px rgba(255, 0, 0, 0.3);
}

.service-content-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.service-content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 100%;
    height: 100vh;
}

.service-article>h2{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-size: 19px;
}

.service-article>p{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color:#B2B2B2
}


/*CONTACT*/

.contact-container{

    display: flex;
    justify-content: center;
}

.contact-content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    max-width: 100%;
    height: 100vh;
}

section.contact-articles{
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.submit-button{
       background-color: #fff;
    color: red;
    width: 142px;
    height: 40px;

    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    font-size: 14px;
    box-shadow: 0 3px 6px rgba(255, 0, 0, 0.3);
    border-radius: 40px;
    border: 1px solid #ff0000;
    align-self:flex-end;
}

input, textarea{
    background: #ffffff 0 0 no-repeat padding-box;
    box-shadow: 0 1px 6px rgba(255, 0, 0, 0.3);
    border: 1px solid #d1d1d1;
    border-radius: 8px;
    padding:8px;
 max-width: 100%;

    color:#B2B2B2;


}
.contact-photo{

    flex-grow:1;

}
.contact-form{



}
.main-contact-container{
    display: flex;
    justify-content: center;
}

.contact-articles img{
    max-width:100%;
    max-height:100%;
    width:170px;
    height:170px;
    padding:calc(25px / 2) 0;

}

.contact-photo{
    background: url("../images/Form Photo.png")center/cover;
    width:100%;
    height:100%;
    min-width: 444px;
    min-height: 317px;
    padding:0 8px;
}

.contact-form{
    width:100%;
    height:100%;
    min-width: 444px;
    min-height: 317px;
    padding:0 8px;
    color:#B2B2B2;
}

.contact-form-layer{
    display: flex;
    flex-direction: column;

}


.form-label{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}


input[type="checkbox"]{
    width: 0;
    height: 0;



}


input:focus,textarea:focus{
    border-color:#FF0000;
    box-shadow: 0px 1px 6px rgba(255, 0, 0, 0.3);
}

.checkbox-button{
width:16px;
    height:16px;
    border-radius:none;

}


::-webkit-input-placeholder { /* Chrome */
  color: #B2B2B2;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #B2B2B2;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #B2B2B2;
  opacity: 1;
}
:-moz-placeholder { /* Firefox 4 - 18 */
  color: #B2B2B2;
  opacity: 1;
}

.checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkbox {
    cursor: pointer;
    display: flex;
}

.checkbox span {


    border: 1px solid #B2B2B2;
    cursor: pointer;
    margin-right: 15px;
    width:100px;
    height:16px;
    border-radius: 0;
}

.checkbox input:checked + span {
    background:#fff url("../images/Icon Check.svg")center no-repeat;
    border:1px solid #ff0000;
}



/*FOOTEW*/

.footer-container{
    background:#28272C;
    display:flex;
    height: 233px;
    color:red;

}

.foot-navigation{
    display: flex;
    justify-content: space-around;

}

.footer-content{
    display: flex;
}

header.foot-header::after {
    content: "Sharing";
    color: #fff;
    z-index: 2;
}

.foot-header{
    display: flex;

    justify-content: center;
    align-items: center;
    font-size: 25px;
    text-transform: uppercase;
    color: red;
    z-index: 2;
}